.Playlist {
  display: grid;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  background-color: gold;
  font-size: 6rem;
  height: 100%;
  width: 100%;
  justify-items: center;

  &__title {
    font-size: 30rem;
    color: darkgreen;
  }

  &__resultContainer {
    display: grid;
    justify-items: center;
  }
  &__loser {
    font-size: 5rem;
    color: orangered;
  }
  &__top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
  }
  &__guessControlContainer {
    display: grid;
    justify-items: center;
  }
  &__bottom {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
  }
  &__bottomContainer-2 {
    display: grid;
    grid-row-gap: 2rem;
    text-align: center;
  }
  &__guessContainer {
    font-size: 5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  &__correctGuess {
    color: darkgreen;
  }
  &__incorrectGuess {
    color: orangered;
  }
  &__title {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    &--started {
      display: inline-block;
      animation: fading 1s ease infinite;
    }
    &--pending {
      display: inline-block;
    }
  }
  &__info {
    grid-auto-flow: column;
    display: grid;
    padding: 1rem;
    grid-column-gap: 3rem;
    justify-items: center;
  }
  &__answer {
    background-color: $color-grey-light-1;
    box-shadow: $shadow-dark;
    width: 7rem;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  &__letter {
    font-size: 5rem;
  }
  &__button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}
